.App {
  text-align: center;
}

main {
  margin: 30px 30px;
}

.footer-container {
  height: 30px;
  position: relative;
  bottom: 0;
}

footer {
  text-align: center;
  padding: 3px;
  width: 100%;
  border-top: 2px solid black;
  padding-top: 20px;
  position: absolute;
  margin-top: 300px;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 100px;
}

.buttons button {
  height: 30px;
  margin-right: 60px;
}

.buttons button:hover {
  cursor: pointer;
}

#add-product-btn:active,
#save-product-btn:active {
  background-color: #01ff80;
  border-radius: 4px;
}

#delete-product-btn:active,
#cancel-product-btn:active {
  background-color: #f03d3d;
  border-radius: 4px;
}

.product-box {
  width: 200px;
  height: 150px;
  border: 2px solid #333;
  border-radius: 4px;
  margin-bottom: 60px;
  display: inline-table;
  margin: 30px;
  font-family: initial;
  background: #282c34;
  color: #fff;
}

.product-info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  line-height: 24px;
}

.product-info ul {
  display: contents;
}

.product-info ul li {
  display: flex;
  list-style: none;
}

.delete-checkbox {
  margin: 10px;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

/**  Product Form **/
label {
  display: inline-block;
  width: 150px;
}

#product-form {
  float: left;
  display: grid;
  text-align: left;
}

.form-input {
  margin-bottom: 30px;
}


@media only screen and (max-width: 964px) {
  .buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .App-header h1 {
    margin-right: 60px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 370px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }



  .App-header {
    padding: 0 30px;
  }

  .buttons {
    flex-direction: column;
  }

  .buttons button {
    margin: 9px;
  }
}